{
  "openapi": "3.1.0",
  "info": {
    "title": "Laravel",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://market-api-m0pxxk6n.on-forge.com/api"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResource"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "User retrieved successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/register": {
      "post": {
        "operationId": "auth.register",
        "summary": "Register a new user with email and password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/UserResource"
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "user",
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Registration successful. Please verify your email."
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "Login with email and password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/UserResource"
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "user",
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Login successful"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "This account uses OAuth login. Please login with Google or Apple."
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid credentials"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/roles": {
      "get": {
        "operationId": "auth.roles",
        "summary": "Get available user roles",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "type": "string",
                          "enum": [
                            "creator"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "company"
                          ]
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2,
                      "additionalItems": false
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Available roles retrieved successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/profile": {
      "put": {
        "operationId": "auth.updateProfile",
        "summary": "Update the authenticated user's profile",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResource"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Profile updated successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/user/password": {
      "put": {
        "operationId": "auth.changePassword",
        "summary": "Change the authenticated user's password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Password changed successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Current password is incorrect"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "Logout the current user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Logged out successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/campaigns/public": {
      "get": {
        "operationId": "campaign.publicIndex",
        "summary": "Display a paginated list of all campaigns (Public API)",
        "tags": [
          "Campaign"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LengthAwarePaginator"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Public campaigns retrieved successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "campaign.index",
        "summary": "Display a list of all created campaigns by the authenticated user",
        "tags": [
          "Campaign"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "User campaigns retrieved successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "campaign.store",
        "summary": "Store a newly created campaign in storage for the authenticated user",
        "tags": [
          "Campaign"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string"
                  },
                  "min_duration": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_duration": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "deadline": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "additional": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "number_of_creators": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "age_min": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "age_max": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "all",
                      "male",
                      "female"
                    ]
                  },
                  "cpm_rate": {
                    "type": "number",
                    "minimum": 0
                  },
                  "total_budget": {
                    "type": "number",
                    "minimum": 0
                  },
                  "verified_creator_only": {
                    "type": "boolean"
                  },
                  "require_portfolio_review": {
                    "type": "boolean"
                  },
                  "minimum_10k_followers": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "open",
                      "closed"
                    ]
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content_styles": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "video_formats": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "title",
                  "description",
                  "min_duration",
                  "max_duration",
                  "deadline",
                  "number_of_creators",
                  "age_min",
                  "age_max",
                  "gender",
                  "cpm_rate",
                  "total_budget",
                  "platforms"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Campaign created successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "dictionary.categories",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/content-styles": {
      "get": {
        "operationId": "dictionary.contentStyles",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContentStyle"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/platforms": {
      "get": {
        "operationId": "dictionary.platforms",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Platform"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video-formats": {
      "get": {
        "operationId": "dictionary.videoFormats",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoFormat"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/email/verification-notification": {
      "post": {
        "operationId": "emailVerification.resend",
        "summary": "Resend the email verification notification",
        "tags": [
          "EmailVerification"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Verification email sent"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Email already verified"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/email/verify/{id}/{hash}": {
      "get": {
        "operationId": "verification.verify",
        "summary": "Mark the authenticated user's email address as verified",
        "tags": [
          "EmailVerification"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {
                          "type": "null"
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Email verified successfully"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "data",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "data": {
                          "type": "null"
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Email already verified"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "data",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/password/forgot": {
      "post": {
        "operationId": "passwordReset.forgotPassword",
        "summary": "Send a password reset link to the user's email",
        "tags": [
          "PasswordReset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Password reset link sent to your email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unable to send password reset link"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/password/reset": {
      "post": {
        "operationId": "passwordReset.resetPassword",
        "summary": "Reset the user's password",
        "tags": [
          "PasswordReset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Password has been reset successfully"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid or expired reset token",
                        "Unable to reset password"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/login/google": {
      "post": {
        "operationId": "socialAuth.loginWithGoogle",
        "summary": "Login or register with Google",
        "tags": [
          "SocialAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/UserResource"
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "user",
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Login successful"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid OAuth token"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/login/apple": {
      "post": {
        "operationId": "socialAuth.loginWithApple",
        "summary": "Login or register with Apple",
        "tags": [
          "SocialAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/UserResource"
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "user",
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Login successful"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid OAuth token"
                      ]
                    },
                    "errors": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "platforms": {
            "type": "array",
            "items": {}
          },
          "min_duration": {
            "type": "integer"
          },
          "max_duration": {
            "type": "integer"
          },
          "content_styles": {
            "type": [
              "array",
              "null"
            ],
            "items": {}
          },
          "video_formats": {
            "type": [
              "array",
              "null"
            ],
            "items": {}
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "additional": {
            "type": [
              "string",
              "null"
            ]
          },
          "number_of_creators": {
            "type": "integer"
          },
          "age_min": {
            "type": "integer"
          },
          "age_max": {
            "type": "integer"
          },
          "gender": {
            "type": "string"
          },
          "cpm_rate": {
            "type": "string"
          },
          "total_budget": {
            "type": "string"
          },
          "verified_creator_only": {
            "type": "boolean"
          },
          "require_portfolio_review": {
            "type": "boolean"
          },
          "minimum_10k_followers": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "platforms",
          "min_duration",
          "max_duration",
          "content_styles",
          "video_formats",
          "deadline",
          "additional",
          "number_of_creators",
          "age_min",
          "age_max",
          "gender",
          "cpm_rate",
          "total_budget",
          "verified_creator_only",
          "require_portfolio_review",
          "minimum_10k_followers",
          "status",
          "created_at",
          "updated_at",
          "user_id"
        ],
        "title": "Campaign"
      },
      "Category": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "title",
          "icon",
          "created_at",
          "updated_at"
        ],
        "title": "Category"
      },
      "ChangePasswordRequest": {
        "type": "object",
        "properties": {
          "current_password": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "current_password",
          "password",
          "password_confirmation"
        ],
        "title": "ChangePasswordRequest"
      },
      "ContentStyle": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "title",
          "icon",
          "created_at",
          "updated_at"
        ],
        "title": "ContentStyle"
      },
      "ForgotPasswordRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "title": "ForgotPasswordRequest"
      },
      "LengthAwarePaginator": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "data": {
            "type": "string"
          },
          "first_page_url": {
            "type": "string"
          },
          "from": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_page": {
            "type": "integer"
          },
          "last_page_url": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "additionalProperties": {}
          },
          "next_page_url": {
            "type": "string"
          },
          "path": {
            "type": [
              "string",
              "null"
            ]
          },
          "per_page": {
            "type": "integer"
          },
          "prev_page_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "integer",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "current_page",
          "data",
          "first_page_url",
          "from",
          "last_page",
          "last_page_url",
          "links",
          "next_page_url",
          "path",
          "per_page",
          "prev_page_url",
          "to",
          "total"
        ],
        "title": "LengthAwarePaginator"
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "device_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          }
        },
        "required": [
          "email",
          "password"
        ],
        "title": "LoginRequest"
      },
      "MessageBag": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": "MessageBag"
      },
      "Platform": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "title",
          "icon",
          "created_at",
          "updated_at"
        ],
        "title": "Platform"
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "role": {
            "type": "string",
            "enum": [
              "creator",
              "company"
            ]
          },
          "password_confirmation": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "name",
          "email",
          "password",
          "password_confirmation"
        ],
        "title": "RegisterRequest"
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "token",
          "email",
          "password",
          "password_confirmation"
        ],
        "title": "ResetPasswordRequest"
      },
      "SocialLoginRequest": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "device_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          }
        },
        "required": [
          "access_token"
        ],
        "title": "SocialLoginRequest"
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "avatar": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "maxLength": 500
          },
          "role": {
            "type": "string",
            "enum": [
              "creator",
              "company"
            ]
          }
        },
        "title": "UpdateProfileRequest"
      },
      "UserResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "avatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "providers": {
            "type": "object",
            "additionalProperties": {}
          },
          "has_password": {
            "type": "boolean"
          },
          "email_verified_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "role",
          "avatar",
          "providers",
          "has_password",
          "email_verified_at",
          "created_at"
        ],
        "title": "UserResource"
      },
      "VideoFormat": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "title",
          "icon",
          "created_at",
          "updated_at"
        ],
        "title": "VideoFormat"
      }
    },
    "responses": {
      "ValidationException": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Errors overview."
                },
                "errors": {
                  "type": "object",
                  "description": "A detailed description of each field that failed validation.",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": [
                "message",
                "errors"
              ]
            }
          }
        }
      },
      "AuthenticationException": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "AuthorizationException": {
        "description": "Authorization error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    }
  }
}